// colors :-
$black-color:#000;
$white-color: #FFF;
$main-color:#7370d8;
$sec-color:#908ddc;
$main-text-color: #44454f;
$light-color:#aaa;
$main-para-color:#756c6a;
$transparent-color:rgba(101, 99, 152, 0.7);
$main-background-color: #FFF;
$sec-background-color:#f9faff;
// spacing(padding, margin):-
$main-element-padding: 20px;
$sec-element-padding: 10px;
$up-down-padding: 60px;
// box-shadow-:-
$main-box-shadow: 0 0 5px 1px #ececec;
$hovered-box-shadow: 0 0 15px 5px #ececec;