@use '../Global/global-rules' as *;
@use '../Global/variables' as *;
@use '../Global/placeholders' as *;

/* Start Plans Styling:- */

.plans {
    padding: $up-down-padding 0;
    .container {
        .content {
            @extend %grid-250-30;
            article {
                text-align: center;
                opacity: 0.5;
                &:hover {
                    opacity: 1;
                    box-shadow: $hovered-box-shadow;
                }
                .sec-head {
                    padding: $up-down-padding / 2;
                    background-color: $main-color;
                    span {
                        color: $white-color;
                        &:first-of-type {
                            font: {
                                weight: 600;
                                size: 1.5rem;
                            }
                        }
                        &:last-of-type {
                            font-size: 1.2rem;
                        }
                    }
                    h2 {
                        color: #FFF;
                        position: relative;
                        font-size: 2.2rem;
                        font-family: "Playfair Display", serif;
                        width: -webkit-fit-content;
                        width: -moz-fit-content;
                        width: fit-content;
                        margin: auto {
                            top: 30px;
                            bottom: 10px;
                        }
                        font: {
                            size: 2.2rem;
                            family: "Playfair Display", serif;
                        }
                        &::before {
                            content: attr(name-attr);
                            position: absolute;
                            top: -10px;
                            left: -20px;
                            font-weight: 400;
                        }
                    }
                }
                .sec-body {
                    padding: $up-down-padding / 2;
                    span {
                        display: block;
                        &:not(:first-of-type) {
                            margin-top: 20px;
                        }
                    }
                }
                .sec-foot {
                    padding: $up-down-padding / 2 {
                        top: $up-down-padding;
                        bottom: $up-down-padding / 2;
                    }
                    input[type="button"] {
                        margin: 0 auto;
                        width: -webkit-fit-content;
                        width: -moz-fit-content;
                        width: fit-content;
                        text-transform: capitalize;
                        font-weight: 500;
                        font-size: 0.9rem;
                        background-color: $main-color;
                        padding: {
                            top: 15px;
                            bottom: 15px;
                            left: 20px;
                            right: 20px;
                        }
                        &:hover {
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }
}


/* End Plans Styling */